.git
.github
.gitignore
.env
src/.env
src/.env.*
src/vendor
src/node_modules
src/tests
src/storage/logs/*
src/storage/framework/cache/*
src/storage/framework/sessions/*
src/storage/framework/views/*
docker-compose.override.yaml
*.md
